@tailwind base;
@tailwind components;
@tailwind utilities;
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900");
// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,800;1,400&display=swap");
@import "node_modules/locomotive-scroll/dist/locomotive-scroll.css";
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer components {
  .btn-icon {
    @apply rounded-full flex items-center justify-center w-8 h-8;
    box-shadow: -2px -2px 35px 0px rgba(0, 0, 0, 0.13);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
    &:active {
      box-shadow: none;
      opacity: 1;
    }
    &.lg {
      @apply w-10 h-10;
    }
    &.xl {
      @apply w-16 h-16;
    }
  }
  .link-spacing {
    @apply relative uppercase text-xs font-bold text-primary-black;
  }
  .absolute-cover {
    @apply absolute top-0 left-0 bottom-0 right-0;
  }
  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    // transform: translate(-50%, -50%);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

$black: #070600;

body {
  margin: 0;
  padding: 0;
  // font-family: "Montserrat", sans-serif;
  font-size: 24px;
  @apply bg-primary-white dark:bg-primary-black;
  // background: linear-gradient(
  //     to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))
  //   )
  //   rgb(var(--background-start-rgb));
}

* {
  box-sizing: border-box;

  // custom scrollbar
  ::-webkit-scrollbar {
    width: 0px;
    height: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px ${theme.colors.lightGrey};
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    // background: ${theme.colors.grey};
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
  }
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1;
}

ol li,
ul li {
  line-height: 1.5em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.list-title {
  @apply mb-3 mt-8 font-bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-bg img {
  width: 100vw;
}

.custom-bg {
  overflow: hidden;
  filter: blur(5px);
}

.section-black {
  @apply bg-primary-black dark:bg-primary-white;
}

.floating {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.scale-ratio {
  position: relative;

  &:before {
    content: "";
    padding-top: 100%;
    display: block;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.img-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.transition-sm {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

// extensions
/* Only necessary with horizontal scrolling */
html[data-scroll-orientation="horizontal"] {
  body {
    width: fit-content;
  }
  [data-scroll-container] {
    display: flex;
  }
}

.anticon {
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.pj-card {
  .react-player {
    .fb-video {
      > span {
        width: 100% !important;
        height: 100% !important;
      }
      iframe {
        width: 100% !important;
        height: 100% !important;
        min-width: unset;
      }
    }
  }
}